*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg,#1e1e2f,#283c86);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto',sans-serif;
    color: #ffffff;
}

.container{
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    width: 350px;
    text-align: center;
}

.heading{
    font-size: 2rem;
    color: #00ffcc;
    margin-bottom: 20px;
}

.input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

label{
    font-size: 1.2rem;
    color: #ffffff;
}
.input{
    padding: 10px;
    width: 70%;
    border-radius: 10px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    font-size: 1 rem;
    transition: all 0.3s ease;
}
.input:focus{
    background: rgba(255, 255, 204, 0.1);
    outline: none;
    border: 2px solid #00ffcc;
}

.output-text{
    font-size: 1.1rem;
    margin-top: 20px;
    color: #00ffcc;
}

#error{
    color: #ff4d4d;
    font-size: 1rem;
    margin-top: 10px;
}
button{
    padding: 12px 20px;
    background-color: #00ffcc;
    border: none;
    border-radius: 10px;
    color: #1e1e2f;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #00bfa5;
}